<label>
  <%= c.object.question.title %>
</label>
<div class="radio">
  <% c.object.question.possible_answers.each do |possible_answer| %>
    <p>
      <label>
        <%= possible_answer.title %>
        <%= c.radio_button :possible_answer_id, possible_answer.id %>
        <%= c.hidden_field :question_id %>
      </label>
    </p>
  <% end %>
</div>
